In [1]:
import os
import glob

import numpy as np
import pandas as pd
import geopandas as gpd

from sklearn.neighbors import KDTree

In [2]:
obs_files = glob.glob("./OUTPUT/*csv")
idx_lsit = []
concat_df_dict = {}
for obs_file in obs_files:
    file_info = obs_file.split("\\")[-1].split('_')
    road_name, road_dir = file_info[1],file_info[2]

    road_info_file = glob.glob(f'C:/Users/user/Desktop/DB/ROAD/서울&시흥_road_shp/**/*{road_name}_{road_dir}*shp', recursive=True)[0]


    dongbu_d_df = pd.read_csv(obs_file)
    road_info = gpd.read_file(road_info_file, encoding = 'cp949')
    try :
        road_info = road_info[['LANES', 'ROAD_RANK', 'ROAD_TYPE', 'ROAD_USE', 'MULTI_LINK', 'CONNECT', 'MAX_SPD', 'long', 'lat']]
    except:
        road_info = road_info[['LANES', 'ROAD_RANK', 'ROAD_TYPE', 'ROAD_USE', 'MULTI_LINK', 'CONNECT', 'MAX_SPD', 'long_mid','lat_mid']]	
        road_info = road_info.rename({'long_mid':'long','lat_mid':'lat'}, axis = 1)
    road_info = road_info.dropna()

    observ_line = np.array(list(zip(road_info['long'], road_info['lat'])))
    model_line = np.array(list(zip(dongbu_d_df['longitude'], dongbu_d_df['latitude'])))

    tree = KDTree(observ_line)
    # 각 점마다 가장 가까운 점을 찾아 매칭

    matched_points = []
    for point in model_line:
        _, index = tree.query([point], k=1)  # k=1로 설정하여 가장 가까운 점 하나만 선택
        matched_points.append(observ_line[index[0]])

    matched_lon = [point[0][0] for point in matched_points]
    matched_lat = [point[0][1] for point in matched_points]

    df = pd.DataFrame({'longitude': model_line[:, 0], 'latitude': model_line[:, 1],
                        'long_match': matched_lon, 'lat_match': matched_lat})

    unique_coords = df[['longitude', 'latitude','long_match','lat_match']].drop_duplicates()

    total_df = pd.merge(unique_coords,dongbu_d_df, on=['longitude','latitude'], how='right')
    road_info = road_info.rename({'long':'long_match','lat':'lat_match'}, axis = 1)
    total_df = pd.merge(total_df, road_info, on=['long_match', 'lat_match'], how='left')
    print(obs_file)
    concat_df_dict[f"{obs_file}"] = total_df
    idx_lsit.append(f"{obs_file}")
    del road_info_file, total_df, road_info

./OUTPUT\seoul_dongbu_D_202301_26_lufft_concat.csv
./OUTPUT\seoul_dongbu_D_202301_27_lufft_concat.csv
./OUTPUT\seoul_dongbu_U_202301_19_vaisala_concat.csv
./OUTPUT\seoul_gangbyeon_U_202301_19_vaisala_concat.csv
./OUTPUT\seoul_naebu_U_202301_19_vaisala_concat.csv
./OUTPUT\seoul_olympic_D_202301_26_lufft_concat.csv
./OUTPUT\seoul_olympic_D_202301_27_lufft_concat.csv
./OUTPUT\seoul_olympic_U_202301_17_lufft_concat.csv
./OUTPUT\seoul_olympic_U_202301_18_lufft_concat.csv
./OUTPUT\seoul_olympic_U_202301_19_lufft_concat.csv
./OUTPUT\seoul_seobu_D_202301_20_lufft_concat.csv
./OUTPUT\sihueng_SHR1_D_202301_20_lufft_concat.csv
./OUTPUT\sihueng_SHR2_U_202301_20_lufft_concat.csv
./OUTPUT\sihueng_SHR3_D_202301_20_lufft_concat.csv
./OUTPUT\sihueng_SHR4_U_202301_20_lufft_concat.csv

In [3]:
concat_df_dict[idx_lsit[1]].columns

Index(['longitude', 'latitude', 'long_match', 'lat_match', 'lon', 'lat',
       'timestamp', 'surface_temperature', 'day', 'hour', 'date_time',
       'update_time', 'p_hour', 'road_name', 'direction', 'jr', 'mg', 'org',
       'ss', 'yc', 'closest_value', 'closest_column', 'LANES', 'ROAD_RANK',
       'ROAD_TYPE', 'ROAD_USE', 'MULTI_LINK', 'CONNECT', 'MAX_SPD'],
      dtype='object')

In [4]:

from sklearn import metrics

In [5]:
for i in idx_lsit:
    df = concat_df_dict[i]

    for road in df['road_name'].unique():
        for hour in df['LANES'].unique():
            try:
                df_hour = df[(df['road_name']==road) & (df['LANES']==hour)]
                print(road , hour)
                print(metrics.mean_squared_error(df_hour['surface_temperature'],df_hour['org']), end = "|")
                print(metrics.mean_squared_error(df_hour['surface_temperature'],df_hour['yc']), end = "|")
                print(metrics.mean_squared_error(df_hour['surface_temperature'],df_hour['mg']), end = "|")
                print(metrics.mean_squared_error(df_hour['surface_temperature'],df_hour['jr']), end = "|")
                print(metrics.mean_squared_error(df_hour['surface_temperature'],df_hour['ss']), end = "|")
                print()
                # print(df_hour.value_counts('closest_column'))
            except:
                print()

dongbu 3
14.45834237731093|0.7942782668620778|19.176037796887833|20.85242992397612|0.9138040933134924|
dongbu 3
6.297939255344055|25.353831756336263|3.937838986953362|4.130976588627521|26.0082453477543|
dongbu 2
2.747930972858988|5.698337559712366|21.374168917290444|6.25628585362434|8.19905175495932|
dongbu 4
3.4979810108445406|12.6150619911161|11.348660180770553|4.150830077046804|16.148452839251934|
dongbu 3
2.8442242817984957|18.461825615831795|7.561315507358431|2.765369470197977|22.948975259469737|
dongbu 1
3.8396952659715042|11.00152666826825|12.874170473269317|3.8205829821622053|14.223793912227972|
gangbyeon 3
2.5945040273671824|4.100556813003441|66.29832902049091|28.89021236951772|1.777558768762876|
gangbyeon 4
2.051799651266136|1.7631539675881973|50.95822306513178|19.219241929502576|0.979875685474445|
gangbyeon 5
1.3051717239078404|1.0672718527718215|49.355243636221914|18.051203632329127|0.38660704318133887|
gangbyeon 2
3.1385146789347083|2.00321051276523|56.28223244546606|22.186590639695787|0.6644977224784678|
naebu 3
7.048980351108421|9.464608080073292|71.12551171644071|34.445844866469116|6.80611271064669|
naebu 2
9.800569259227416|8.406636248789559|53.41223431270518|26.720089017570544|7.162973217442003|
olympic 3
2.429310515277466|7.083303878751963|6.005978840707553|8.5644041684772|7.128381632859646|
olympic 2
1.7706567235522406|6.956258917286111|6.139594998922545|8.732248761729785|6.999311376946292|
olympic 4
2.0066023370310244|8.179549498639231|5.989203242921251|8.203312396519562|8.246135958833962|
olympic 5
4.385893141356485|5.328851133514483|9.41984809480652|11.32385914997372|5.485755299837954|
olympic 1
5.216190785546347|1.9930443135041351|15.350234616296527|17.093937835075014|2.1643703977499498|
olympic 6
10.471542515861046|0.5248720501615968|19.77290010069331|21.46132942345076|0.6344979093256341|
olympic 3
2.8375620551282617|22.44591099979399|1.5628373856216773|2.514843992570828|22.180825170258768|
olympic 2
1.0449505495743485|13.98570435654907|2.7328430878616126|3.8218922877216914|14.222994318977483|
olympic 4
3.720639425252895|17.35381136560054|4.802557568510693|5.83094265812184|17.632056299495638|
olympic 5
3.2293964032778675|10.516438402812444|8.972134482274509|11.119629325058726|10.43993959178403|
olympic 1
1.7007568382760332|8.93293722301708|7.299706709946917|8.870975086686355|9.20183104924255|
olympic 6
3.6339545555814734|14.053206476115493|6.6297005009258845|7.38121305779926|14.543225131007324|
olympic 4
4.213592923104548|8.49879641333211|8.101990106821443|7.74252501090252|9.201871732666012|
olympic 5
2.2159027704970504|9.187977635717225|5.18424063903196|4.872487248897652|9.981131630497794|
olympic 3
8.185859122885825|1.767437900796769|17.37897394595109|16.80514320922709|2.0755717906013564|
olympic 4
9.431684122809283|4.547267109408948|11.119560784416807|12.596650585169606|4.806368347483664|
olympic 5
7.045709737500286|7.271278674301357|6.378777359261303|7.444610855392782|7.645511983524885|
olympic 3
13.170221132540249|1.0706046138846834|19.5307414699434|21.553117157913945|1.1740758530132125|
olympic 4
11.455254758846548|2.8701885655637063|15.496216640370957|10.337376151442465|3.809170168172408|
olympic 5
13.631634228226302|3.600088622570801|13.184591324822456|8.427645679747497|4.6934726906933895|
olympic 3
7.200270441696096|3.018404778881213|13.932293503181542|9.01178536307613|4.038772529490155|
seobu 3
19.662708957565137|2.7846793454115355|14.64046764385781|9.986915265673534|3.704739126129746|
seobu 2
15.415832488057756|2.940102475774775|14.68786805594776|10.03373325701697|3.8717224166551323|
seobu 1
19.935346266617643|1.8851677023147544|17.337526960265357|12.248510903443904|2.6316335502863204|
SHR1 2
37.76387908731898|1.2142690851388434|41.84278765873026|31.480433639014503|0.7455522060061238|
SHR1 3
43.153838178855125|0.2945758239802827|34.80183264488086|25.408033816167475|0.15606422817116497|
SHR2 2
17.793132235187397|0.6005858338040684|35.58394050843916|26.38419781755196|0.43661438597409313|
SHR2 1
25.98665248994976|0.40950703948440453|33.71184924694814|24.493227146365623|0.34257490878736696|
SHR2 3
25.844837608762564|0.7998771070092584|39.34138492823303|29.315015280259818|0.4410678235610331|
SHR3 3
14.923578869813916|0.7800077954716045|35.91613757501888|27.0609667469291|0.5993097171005988|
SHR3 2
21.30526235818552|1.0082271288877|41.13428000170408|31.55610614818993|0.5645022235657347|
SHR3 4
29.0167575279506|0.20337258125316016|33.976998562832186|25.33058496349114|0.08962289755316705|
SHR4 3
17.397677194332964|0.8475728847071927|39.6961643608368|29.604317578919552|0.47950166352945145|
SHR4 2
21.840823422670912|0.7324010915342405|39.01173442316758|29.010594981288833|0.39479516212769167|

In [56]:
file_info = obs_file[0].split("\\")[-1].split('_')
road_name, road_dir = file_info[1],file_info[2]

road_info_file = glob.glob(f'C:/Users/user/Desktop/DB/ROAD/서울&시흥_road_shp/seoul/*{road_name}_{road_dir}*shp')[0]

In [57]:
dongbu_d_df = pd.read_csv(glob.glob("./OUTPUT/*csv")[0])

In [58]:
road_info = gpd.read_file(road_info_file, encoding = 'cp949')

In [59]:
road_info_1 = road_info[['LANES', 'ROAD_RANK', 'ROAD_TYPE', 'ROAD_USE', 'MULTI_LINK', 'CONNECT', 'MAX_SPD', 'long', 'lat']]
road_info_1 = road_info_1.dropna()

In [30]:
observ_line = np.array(list(zip(road_info_1['long'], road_info_1['lat'])))
model_line = np.array(list(zip(dongbu_d_df['longitude'], dongbu_d_df['latitude'])))

tree = KDTree(observ_line)
# 각 점마다 가장 가까운 점을 찾아 매칭

matched_points = []
for point in model_line:
    _, index = tree.query([point], k=1)  # k=1로 설정하여 가장 가까운 점 하나만 선택
    matched_points.append(observ_line[index[0]])

matched_lon = [point[0][0] for point in matched_points]
matched_lat = [point[0][1] for point in matched_points]

df = pd.DataFrame({'longitude': model_line[:, 0], 'latitude': model_line[:, 1],
                       'long_match': matched_lon, 'lat_match': matched_lat})

unique_coords = df[['longitude', 'latitude','long_match','lat_match']].drop_duplicates()

total_df = pd.merge(unique_coords,dongbu_d_df, on=['longitude','latitude'], how='right')
road_info_1 = road_info_1.rename({'long':'long_match','lat':'lat_match'}, axis = 1)
total_df = pd.merge(total_df, road_info_1, on=['long_match', 'lat_match'], how='left')

In [31]:
total_df

,longitude,latitude,long_match,lat_match,lon,lat,timestamp,surface_temperature,day,hour,...,yc,closest_value,closest_column,LANES,ROAD_RANK,ROAD_TYPE,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD
0,127.066533,37.516700,127.065366,37.519478,127.066554,37.516691,2023-01-26 11:10:00,-2.5121,26,11,...,-3.423115,-3.423115,yc,3,102,000,0,0,000,80
1,127.066533,37.516700,127.065366,37.519478,127.066554,37.516691,2023-01-26 11:10:00,-2.5272,26,11,...,-3.423115,-3.423115,yc,3,102,000,0,0,000,80
2,127.066533,37.516700,127.065366,37.519478,127.066554,37.516691,2023-01-26 11:10:00,-2.5728,26,11,...,-3.423115,-3.423115,yc,3,102,000,0,0,000,80
3,127.066533,37.516700,127.065366,37.519478,127.066554,37.516691,2023-01-26 11:10:00,-2.6184,26,11,...,-3.423115,-3.423115,yc,3,102,000,0,0,000,80
4,127.066533,37.516700,127.065366,37.519478,127.066554,37.516691,2023-01-26 11:10:00,-2.6097,26,11,...,-3.423115,-3.423115,yc,3,102,000,0,0,000,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523,127.122250,37.472083,127.106450,37.488293,127.122036,37.472161,2023-01-26 11:17:00,-2.5634,26,11,...,-3.330996,-3.330996,yc,3,102,000,0,0,000,80
2524,127.122250,37.472083,127.106450,37.488293,127.122036,37.472161,2023-01-26 11:17:00,-2.5916,26,11,...,-3.330996,-3.330996,yc,3,102,000,0,0,000,80
2525,127.122250,37.472083,127.106450,37.488293,127.122036,37.472161,2023-01-26 11:17:00,-2.5808,26,11,...,-3.330996,-3.330996,yc,3,102,000,0,0,000,80
2526,127.122250,37.472083,127.106450,37.488293,127.122036,37.472161,2023-01-26 11:17:00,-2.5982,26,11,...,-3.330996,-3.330996,yc,3,102,000,0,0,000,80
2527,127.122400,37.471900,127.106450,37.488293,127.122036,37.472161,2023-01-26 11:17:00,-2.5982,26,11,...,-3.330996,-3.330996,yc,3,102,000,0,0,000,80